html{
  
}
body{
  margin-top: 75px;
  background-color: #fff5d6;
  color: #005700;
  text-align: center;
}
h1{
  font-size: 25pt;
  color: #2A2E93;
}
h2{
  font-size: 22pt;
  color: #2A2E93;
}
h3{
  font-size: 20pt;
  color: #2A2E93;
}
p{
  font-size: 14pt;
}
nav{
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}

  nav a {
    color: #A70C11;
    font-size: 25pt;
    text-decoration: none; 
    padding: 0 30px;
  }

nav a:hover{
    color: #03578C;
    font-size: 30pt;
}

nav img:hover{
    height: 60px;
}

.text{
    display: block;
    margin: 0 auto;
    align-items:center;
    padding: 10px;
    width: 50%;
    height: auto;
}

.logo{
    display: block;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
}

.people{
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.about{
  padding: 15px;
}